body::before {
    display: block;
    content: '';
    height: 4rem;
}

.news-letter {
    padding: 5rem 0;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .input-newsletter {
        width: 50%;
    }
}